<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <div>
      <div class="row">
        <div class="box"style="color:white;">
          <div class="piece black">♜</div>
        </div>
        <div class="box black">
          <div class="piece black">♞</div>
        </div>
        <div class="box">
          <div class="piece black">♝</div>
        </div>
        <div class="box black">
          <div class="piece black">♚</div>
        </div>
        <div class="box">
          <div class="piece black">♛</div>
        </div>
        <div class="box black">
          <div class="piece black">♝</div>
        </div>
        <div class="box">
          <div class="piece black">♞</div>
        </div>
        <div class="box black">
          <div class="piece black">♜</div>
        </div>
      </div>
      <div class="row">
        <div class="box black">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box black">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box black">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box black">
          <div class="piece black">♟︎</div>
        </div>
        <div class="box">
          <div class="piece black">♟︎</div>
        </div>
      </div>
      <div class="row">
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
      </div>
      <div class="row">
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
      </div>
      <div class="row">
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
      </div>
      <div class="row">
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
        <div class="box black">
        </div>
        <div class="box">
        </div>
      </div>
      <div class="row">
        <div class="box">♜
        </div>
        <div class="box black">♞
        </div>
        <div class="box">♝
        </div>
        <div class="box black">♚
        </div>
        <div class="box">♛
        </div>
        <div class="box black">♝
        </div>
        <div class="box">♞
        </div>
        <div class="box black">♜
        </div>
      </div>
      <div class="row">
        <div class="box black">♟︎
        </div>
        <div class="box">♟︎
        </div>
        <div class="box black">♟︎
        </div>
        <div class="box">♟︎
        </div>
        <div class="box black">♟︎
        </div>
        <div class="box">♟︎
        </div>
        <div class="box black">♟︎
        </div>
        <div class="box">♟︎
        </div>
      </div>
    </div>
  </body>
</html>
